.filters{
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters > button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    margin: 10px 30px auto auto;
    opacity: 90%;
    float: right;
}

.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
}

.locations > h3 ,
.amenities > h3 {
    font-weight: 600;
    text-align: left;
    padding-left: 20%;
}

.locations > h4 ,
.amenities > h4 {
    font-weight: 400;
    font-size: 14px;
    margin: -10px 0 auto auto;
    text-align: left;
    padding-left: 20%;
}

/* Popover*/

.popover{
    background-color: #FAFAFA;
    display: none;
    text-align: left;
    list-style: none;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.locations:hover .popover, .amenities:hover .popover{
    display: block;
}

.popover ul li {
    list-style: none;
}
.popover ul h2 {
    font-size: 16px;
}

/* Swap to vertical layout for small screens */
@media only screen and (max-width: 720px) {
    .filters {
        display: grid;
        height: 210px;
    }

    .filters .locations,
    .filters .amenities {
        height: 70px;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    .filters .locations:hover .popover,
    .filters .amenities:hover .popover {
        margin-left: auto;
        position: relative;
        width: 50%;
        z-index: 1;
    }

    .filters .amenities:hover {
        border-top: 1px solid #ddd;
    }

    .filters > button{
        margin-right: auto;
        width: 300px;
    }
}
